
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Compare File</title>
    <link href="~/Content/fontfamily.css" rel="stylesheet" />
    <link href="~/Content/fabric.min.css" rel="stylesheet" />
    <link href="~/Content/yc.css?v=20201202" rel="stylesheet" />
    <link href="~/Scripts/PlugIns/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/Word/CompareFile.css?v=20201202" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/PlugIns/layer/layer.js"></script>
    <script src="~/Scripts/Base64.js"></script>

    <!-- <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script> -->
    <!-- 要允许使用 Office.js 的本地引用进行脱机调试，请使用:  -->
    <script src="~/Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>
    <script src="~/Scripts/Office/1/office.js" type="text/javascript"></script>

    <script src="~/Scripts/Common/common.js?v=20201202"></script>
    <script src="~/Scripts/Login/Common.js?v=20201202"></script>
    <script src="~/Scripts/PlugIns/layui/layui.js"></script>
    <script src="~/Scripts/UIStrings.js?v=20201202"></script>
    <script src="~/Scripts/Language.js?v=20201202"></script>
    <script src="~/Scripts/Word/Compare.js?v=20201202"></script>
</head>
<body>
    <div id="compare_file">
        <div class="select_title">
            <img src="~/Images/Logo/home.png" onclick="javascript:window.location.href='/Word/Home'" />
            <span class="CompareFile"></span>
        </div>
        <input type="hidden" id="fileUrl" />
        <div id="file_rev" class="layui-form"></div>
        <div style="display:none;" id="compare-footer">
            <input type="hidden" id="openFileUrl" />
            <input type="button" id="compareFileBtn" onclick="compareFile()" class="yc-btn yc-btn-primary" disabled="disabled" />
        </div>
    </div>
</body>
</html>
